@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


input.input-class {
    color: white;
    background-color: #6B7280;
    border-color: #4B5563;
}

input.input-class:focus {
    outline: none;
    border-color: #3B82F6;
    background-color: #4B5563;
}

input.input-class::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* Stili per select */
.select {
    color: white;
    background-color: #6B7280;
    border-color: #4B5563;
}

.select:focus {
    outline: none;
    border-color: #3B82F6;
    background-color: #4B5563;
}


.scroll-container {
    height: 80vh;
    overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    scrollbar-width: none;
}

/* index.css */

@media (max-width: 640px) {
    .input-class {
        font-size: 14px;

    }

    .select {
        font-size: 14px;

    }
}

@media (min-width: 768px) {
    .input-class {
        font-size: 16px;
    }

    .select {
        font-size: 16px;
    }
}