@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


input.input-class {
    color: white;
    background-color: #6b728000;
    border-color: #ffffff4d;
    /* border-color: #4B5563; */
}

input.input-class:focus {
    outline: none;
    border-color: #3B82F6;
    background-color: #4b556300;
}

input.input-class::placeholder {
    color: rgba(255, 255, 255, 0.71);
}

/* Stili per select */
.select {
    color: white;
    background-color: #6b728000;
    border-color: #ffffff4d;
}

.select:focus {
    outline: none;
    border-color: #3B82F6;
    background-color: #131E44;
}


.scroll-container {
    height: 80vh;
    overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    scrollbar-width: none;
}

.item-field {
    width: 100%;
}

.button-field {
    width: 100%;
}

.w-label {
    width: fit-content;
    height: fit-content;
}

.fit-content {
    height: fit-content;
}

.splash-image {
    width: 80%;
    max-width: 400px;
}


.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.spinner {
    width: 3rem;
    height: 3rem;
    border: 4px solid transparent;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}



.glass-card {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px; 
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover per un tocco interattivo */
  .glass-card:hover {
    background: rgba(255, 255, 255, 0.2); /* Intensifica il bianco sul hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
  }
  

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* Definizione dell'animazione per il movimento del colore */
@keyframes liquidBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Classe per lo sfondo animato */
  .liquid-bg {
    min-height: 100vh; /* Copre l'intera altezza dello schermo */
    background: linear-gradient(270deg, #322F81, #2E4A7D, #042F2E);
    background-size: 400% 400%; /* Estende il gradiente per il movimento */
    animation: liquidBackground 10s ease infinite; /* Durata, tipo e ciclo infinito */
  }
  

/* index.css */

@media (max-width: 640px) {
    .input-class {
        font-size: 14px;

    }

    .select {
        font-size: 14px;

    }
}

@media (min-width: 768px) {
    .input-class {
        font-size: 16px;
    }

    .select {
        font-size: 16px;
    }
}